.article-tag {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 143%;
    text-align: center;
    color: $white;
    border-radius: 50px;
    padding: 0.14em 0.71em;
    background: rgba(255, 255, 255, 0.3);
}