.grad-button {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    text-align: center;
    color: $white;

    padding: 1.28em 2.71em;
    background-color: rgba(255, 255, 255, 0.06);
    border:1px solid transparent;
    border-image: linear-gradient(90deg, $blue, $purple) 1;
    position:relative;
    z-index: 0;

    &:after {
        content:'';
        position: absolute;
        top:0; left:0;
        width:100%;
        height:100%;
        z-index: -1;
        background: linear-gradient(90deg, $blue, $purple);
        transition: 0.3s;
    }
    &:hover:after {
        opacity: 0;
    }
}