.logo {
    font-size:1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.25em;

    &__icon {
        flex: 0 0 auto;
        width:2.375em;
    }
    
    &__title {
        flex: 0 0 auto;
        width:3.75em;
    }
}