$purple: #CA6AEB;
$blue: #19B5F1;

$success-green: #00C566;
$error-red: #FF4747;
$warning-yellow: #FACC15;

$background: #18181B;
$article: #252532;
$gray-dark: #B0B0B2;
$gray-bright: #D1D1D1;
$white: #ffffff;